.clickable_area {
  fill: rgba(0, 0, 255, 0.205);
}

.clickable_area:hover {
  fill: rgba(0, 0, 255, 0.459);
}

header {
  display: flex;
}

.delete_btn {
  margin-right: 50px;
  cursor: pointer;
}

#success {
  display: none;
}

#carimg {
  display: none;
}
